<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP_LAB.Properties.Settings.FABRICA_AUTOMOTRIZConnectionString"
            connectionString="Data Source=DESKTOP-EN4EVL9;Initial Catalog=FABRICA_AUTOMOTRIZ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>